.main_menu {
  position: relative;

  display: grid;

  padding: 5px 20px;

  background-color: rgb(45, 45, 45);

  grid-template-columns: 180px auto 120px 120px;

  * {
    margin: 0;
  }

  &-label {
    color: rgb(255, 255, 255);

    grid-column: 1;
  }

  &-project_label {
    align-self: center;

    color: white;

    text-align: center;

    grid-column: 2;
  }

  &-button {
    height: 30px;
    margin-left: 5px;

    border-radius: 2px;
    background-color: rgb(255, 215, 0);

    &:hover {
      background-color: rgb(255, 234, 115);
    }

    &:active {
      background-color: rgb(255, 255, 255);
    }
  }
}
