@import "normalize";
@import "menu";

body {
  width: 100%;
}

.section_label {
  position: absolute;

  overflow: hidden;

  width: 1px;
  height: 1px;
}

button {
  border: none;
  outline: none;
}
