@import "normalize";
@import "menu";
@import "mainBlock";
@import 'leftBar';
@import 'rightBar';
@import 'canvas';

html, body {
  width: 100%;
  height: 100%;
  font-family: Arial;
  overflow: hidden;
}

.root {
  display: flex;
  flex-direction: column;

  height: 100%;
}

h1 {
  position: absolute;

  overflow: hidden;

  width: 1px;
  height: 1px;
}

.section_label {
  position: absolute;

  overflow: hidden;

  width: 1px;
  height: 1px;
}

button {
  border: none;
  outline: none;
}
