@import 'constants';
@import 'resolutionMenu';

.right_bar {
  float: right;

  width: 220px;
  height: 100%;

  background-color: #1d1d1d;

  grid-column: 3;
}


.preview_canvas_container {
  position: relative;
  width: $RightBarElWidth;
  height: 200px;
  margin: 5px auto;
}