.tools_table {
  display: table;

  height: 100%;

  grid-column: 1;
}

.tools {
  display: table-cell;

  vertical-align: middle;
}

.tool_block {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;

  margin-top: 5px;
  padding-left: 8px;

  &-button {
    box-sizing: border-box;
    width: 46px;
    height: 46px;
    margin: 1px;

    border: 2px solid rgb(68, 68, 68);

    &:hover {
      border-color: rgb(117, 117, 117);
    }

    &--active {
      border-color: gold;

      &:hover {
        border-color: gold;
      }
    }
  }

  &-pen {
    background: url("../images/pen.png") no-repeat;
  }

  &-pipette {
    background: url("../images/pipette.png") no-repeat;
  }

  &-bucket {
    background: url("../images/bucket.png") no-repeat;
  }

  &-eraser {
    background: url("../images/eraser.png") no-repeat;
  }

  &-stroke {
    background: url("../images/stroke.png") no-repeat ;
  }
}
